html {
  font-size: 62.5%;
  box-sizing: border-box;
}
.text {
  font-family: $secondary-font;
  font-size: 1.5rem;
  font-style: italic;
  color: $text-color;
  line-height: 1.4;
}
.text--light {
  font-weight: 300;
}
.text--normal {
  font-style: normal;
}
// Vercel
