section.people
  .container
    +blockBox("Happy clients", "What people say")
    ul.people-list
      +peopleItem("./images/img-people1.png","Matthew Dix")
      +peopleItem("./images/img-people2.png","Nick Karvounis")
      +peopleItem("./images/img-people3.png","Jaelynn Castillo ")
      +peopleItem("./images/img-people4.png","Mike Petrucci")
