section.service
  .container
    +blockBox("We work with", "Amazing Services")
    .service-container
      .service-list
        +serviceItem("../images/amazing_icon1.png", "Photography", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
        +serviceItem("../images/amazing_icon2.png", "Web design", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
        +serviceItem("../images/amazing_icon3.png", "Creativity", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
      .service-list
        +serviceItem("../images/amazing_icon4.png", "SEO", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
        +serviceItem("../images/amazing_icon5.png", "CSS/HTML", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
        +serviceItem("../images/amazing_icon6.png", "Digital", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
