section.story
  .container
    +blockBox("Our stories", "Latest blog")
    ul.story-list
      +storyItem("./images/img-blog1.png")
      +storyItem("./images/img-blog2.png")
      +storyItem("./images/img-blog3.png")
section.map
  .container
    .map-content
      img.map-icon(src="./images/img-map-icon.png")
      h2.map-heading Open map

