section.quote
  .container
    .quote-container
      +quoteItem("./images/img-quote-avatar.png", true)
      +quoteItem("./images/img-quote-avatar.png", true)
      +quoteItem("./images/img-quote-avatar.png", true)
