section.wedo
  .container
    +blockBox("Service", "What we do", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat excepturi itaque repellendus. Aliquid voluptate similique voluptatibus? Vel assumenda optio molestias. Fuga, debitis totam harum a atque ut quia expedita veniam.")
    .wedo-container
      img(src="../images/wedo-image.png").wedo-image
      .wedo-content
        +wedoItem("../images/wedo-icon1.png", "Photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa assumenda cum at in ipsum obcaecati sunt. Enim facilis optio vero pariatur, ipsum neque ea ipsam molestias recusandae magnam, vitae reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis non est illum! Rerum, laboriosam nisi. Ab ea natus non officiis voluptates dolorum explicabo aliquid laudantium dolores, impedit sunt quia quo!", "is-active")
        +wedoItem("../images/wedo-icon2.png", "Creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa assumenda cum at in ipsum obcaecati sunt. Enim facilis optio vero pariatur, ipsum neque ea ipsam molestias recusandae magnam, vitae reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis non est illum! Rerum, laboriosam nisi. Ab ea natus non officiis voluptates dolorum explicabo aliquid laudantium dolores, impedit sunt quia quo!")
        +wedoItem("../images/wedo-icon3.png", "Web design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa assumenda cum at in ipsum obcaecati sunt. Enim facilis optio vero pariatur, ipsum neque ea ipsam molestias recusandae magnam, vitae reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis non est illum! Rerum, laboriosam nisi. Ab ea natus non officiis voluptates dolorum explicabo aliquid laudantium dolores, impedit sunt quia quo!")

