section.work
  .container
    +blockBox("What we do", "Some of our work", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ratione accusantium repellat ipsa veniam facilis rerum distinctio saepe, nesciunt unde omnis in magni eaque doloremque eligendi hic aperiam tempore sunt!")
  .work-grid
    +workItem
    +workItem("./images/img-work3.png", "fa fa-cog", "Frontend Developer")
    +workItem("./images/img-work2.png")
    +workItem("./images/img-work4.png")
    +workItem("./images/img-work5.png", "fa fa-heart", "Super heart", "work-item--full")
    +workItem("./images/img-work6.png")
    +workItem("./images/img-work7.png")