.about {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: white;
  // Flexbox
  // &-list {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-left: -3rem;
  // }
  // &-item {
  //   margin-left: 3rem;
  //   width: calc(33.33% - 3rem);
  // }
  // CSS Grid
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
  }

  &-content {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
  }
  &-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &-title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.4;
    @include textClamp(1);
    @include color(
      (
        color: black,
        backgroundColor: red,
      )
    );
  }
  @include maxWidth(767px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
    // Flexbox responsive about-list
    // &-item {
    //   width: 100%;
    //   margin-bottom: 2.5rem;
    // }
    // CSS Grid
    &-list {
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      grid-template-columns: unset;
      grid-row-gap: 2.5rem;
      overflow-x: auto;
      padding: 1rem;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      @include hideScroll;
    }
    &-item {
      scroll-snap-align: center;
    }
  }
}
@include hoverEffect(".about-item", ".about-content");
